@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e496;
$gray-color: #696980;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$gray: #9191b5;

h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

h3 {
	font-size: 24px;
	
}

body {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	line-height: 24px;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	@media (max-width: 750px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@media (max-width: 600px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media (max-width: 400px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.page-main {
	background-image: url(../img/bg-main.png);
	background-repeat: no-repeat;
	background-size: cover;
	color:$light-color;
	padding-bottom: 158px;
	@media (max-width: 1020px) {
		padding-bottom: 100px;
	}
	@media (max-width: 750px) {
		padding-bottom: 80px;
	}
	@media (max-width: 600px) {
		padding-bottom: 60px;
	}
	@media (max-width: 400px) {
		padding-bottom: 40px;
	}
}

.page {
	padding-top: 175px;
	padding-bottom: 161px;
	position: relative;
	@media (max-width: 1020px) {
		padding: 120px 0;
		}
	@media (max-width: 900px) {
		padding: 100px 0;
		}
	@media (max-width: 750px) {
		padding: 80px 0;
		}
	@media (max-width: 600px) {
		padding: 60px 0;
		}	
	@media (max-width: 480px) {
		padding: 50px 0;
		}
	@media (max-width: 400px) {
		padding: 30px 0;
		}
	&_gray {
		background-color: $bg-light-color;
		padding-top: 162px;
		padding-bottom: 162px;
		color: $bg-dark-color;
	}
	&-carousel {
	background-color: transparent;
	@media (max-width: 1020px) {
		background: $bg-dark-color;
		padding-bottom: 50px;
		}
	}
	&_product {
		padding-top: 162px;
		padding-bottom: 169px;
	}
	&_subscribe {
		padding-top: 156px;
		padding-bottom: 154px;
	}
	&__title {
		font-size: 48px;
		color: $bg-dark-color;
		text-align: center;
		margin-bottom: 25px;
		letter-spacing: 2px;
		@media (max-width: 650px) {
			line-height: 1.1;
			}
		@media (max-width: 400px) {
			font-size: 40px;
			}
		}
	&__subtitle {
		font-size: 18px;
		color: $accent-color;
		text-align: center;
		letter-spacing: 0.9px;
	}
	&__btn {
		display: block;
		max-width: 220px;
		font-size: 18px;
		padding: 11px 0px 15px 0px;
		border: none;
		border-radius: 3px ;
		color: $light-color;
		background: linear-gradient(to top left,#65e49c, #65a4af);
		text-align: center;
		text-decoration: none; 
		margin: 30px auto 0px;
		letter-spacing: 0.7px;
		box-shadow: 0 -2px #b2f1be inset;
	}
	&__svg {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		min-height: 700px;
		path {
			width: 100%;
		}
		@media (max-width: 1020px) {
			display: none;
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding: 47px 15px 178px 15px;
	@media (max-width: 1020px) {
		padding: 47px 15px 80px 15px;
	}
	@media (max-width: 920px) {
		flex-direction: column;
	}
	@media (max-width: 600px) {
		padding: 45px 15px 45px 15px;
	}
	&__logo {
		display: block;
		background-image: url(../img/logo.png);
		width: 137px;
		height: 28px;
	}
	&-list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		font-family: 'Open Sans', serif;
		@media (max-width: 750px) {
			justify-content: space-between; 
			flex-wrap: wrap;
			}
		&__item {
			margin-left: 20.4px;
			padding-top: 10px;
			padding-bottom: 2px;
			border-bottom: 3px solid transparent;
			transition: 0.3s;
			@media (max-width: 750px) {
				margin: 0 30px;
				}
			&:hover {
				border-bottom: 3px solid $accent-color;
			};
		}
		&__item.active { 
			border-bottom: 3px solid $accent-color;
		}
		&__link {
			color:$light-color;
			text-decoration: none;
			letter-spacing: 1.2px;
		}
	}
}

.block-book {
	display: flex;
	justify-content:  flex-start;
	@media (max-width: 1020px) {
		flex-direction: column;
		text-align: center;
	}
	&-demo {
		display: block;
		position: relative;
		width: 447px;
		height: 643px;
		background-image: url(../img/book.svg);
		background-repeat: no-repeat;
		background-size: contain;
		flex-basis: 500px;
		border-radius: 7px;
		@media (max-width: 1020px) {
			display: none;
		}
		&__small {
			display: none;
			@media (max-width: 1020px) {
				background-image: url(../img/book.svg);
				background-repeat: no-repeat;
				background-size: contain;
				display: block;
				width: 223px;
				height: 320px;
				margin: 0 auto 40px;
				border-radius: 7px;
				position: relative;
			}
		}
		&__title {
			font-size: 37px;
			text-transform: uppercase;
			position: absolute;
			left: 133px;
			top: 119px;
			letter-spacing: 0.45px;
			@media (max-width: 1020px) {
				font-size: 22px;
				left: 56px;
				top: 45px;
			}
			span {
				font-size: 14px;
				font-family: 'Open Sans', serif;
				color: $accent-color;
				display: block;
				text-transform: initial;
				margin-top: 10px;
				letter-spacing: 0.7px;
				font-weight: 100;
				@media (max-width: 1020px) {
					font-size: 12px;
					letter-spacing: 0.5px;
					max-width: 124px;
				}
			}
		}
		&__author {
			font-size: 14px;
			font-family: 'Open Sans', serif;
			color: $accent-color;
			position: absolute;
			bottom: 52px;
			left:87px;
			letter-spacing: 0.7px;
		}
	}
	&-avatar {
		margin-right: 54px;
	}
}

.block-text {
	flex-basis: calc(93% - 500px);
	@media (max-width: 1020px) {
		flex-basis: calc(93% - 315px);
	}
	&--width {
		flex-basis: calc(92% - 510px);
		padding: 6px 0 0 0px;
		@media (max-width: 1020px) {
			flex-basis: calc(93% - 315px);
		}
	}
	&__name {
		font-family: 'Open Sans', serif;
		font-size: 18px;
		padding-left: 4.4px;
		letter-spacing: 0.8px;
		margin-bottom: 43px;
		@media (max-width: 1100px) {
			margin-bottom: 15px;
		}
		@media (max-width: 900px) {
			padding: 0;
			margin: 0 auto 43px;
			text-align: center;
		}
		@media (max-width: 750px) {
			margin: 0 auto 35px;
		}
		@media (max-width: 400px) {
			margin: 0 auto 20px;
		}
	}
	&__name_top {
		padding-left: 3px;
		color: #696980;
		margin-bottom: 33px;
	}
	&__name_events {
		margin-bottom: 33px;
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.5px;
		margin-bottom: 38px;
		@media (max-width: 1100px) {
			line-height: 50px;
			margin-bottom: 25px;
			&>span {
				line-height: 25px;
			}
		}
		@media (max-width: 900px) {
			text-align: center;
		}
		@media (max-width: 400px) {
			font-size: 40px;
		}
		&--left {
			text-align: left;
			color: $bg-dark-color;
			letter-spacing: 1.8px;
			margin-bottom: 38px;
		}
		}
	&__title_events {
		letter-spacing: 1.8px;
		span {
			letter-spacing: 1.1px; //проверить почему не работает правило
		}
	}
	span {
		display: block;
		color:$accent-color;
		font-size: 18px;
		margin-top: 24px;
		padding-left: 3px;
		letter-spacing: 1.0px;
		font-weight: 400;
		@media (max-width: 400px) {
			margin-top: 15px;
		}
	}
	&__description {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		line-height: 24.3px;
		letter-spacing: 0.75px;
		margin-bottom: 23px;
		margin-left: 2px;
		@media (max-width: 1020px) {
			max-width: 750px;
			margin: 0 auto 23px;
		}
	}
	&__btn {
		display: block;
		background: linear-gradient(to top left, #65e49c, #65a4af);
		color: #fff;
		text-decoration: none;
		max-width: 240px;
		height: 35px;
		border-radius: 3px;
		text-align: center;
		font-size: 18px;
		margin-top: 48px;
		margin-bottom: 14px;
		padding: 11px 0 4px 0;
		letter-spacing: 0.9px;
		box-shadow: 0 -2px #b2f1be inset;
		@media (max-width: 850px) {
			margin: 48px auto 14px auto ;
		}
	}
	&__btn--main {
		box-shadow: 0 -2px #58b988 inset;
		max-width: 251px;
		@media (max-width: 1020px) {
			margin: 48px auto 14px;
		}
	}
	small {
		font-style: italic;
		letter-spacing: 0.2px;
		margin-left: -1px;
	}
	&-item {
		margin-bottom: 55px;
		&__date {
			font-size: 15px;
			letter-spacing: 0.8px;
			color: $gray-color;
			font-weight: 400;
			font-family: "Open Sans",sans-serif;
		}
		&__title {
			font-size: 18px;
			letter-spacing: 0.9px;
			color: $bg-dark-color;
			font-weight: 700;
			margin: 4px 0 16px 0;
		}
		&__desc {
			font-size: 15px;
			letter-spacing: 0.75px;
			color: $gray-color;
			font-weight: 400;
			font-family: "Open Sans",sans-serif;
		}
		&__btn {
			display: block;
			background: linear-gradient(to top left, #65e49c, #65a4af);
			color: $light-color;
			text-decoration: none;
			max-width: 101px;
			border-radius: 3px;
			text-align: center;
			font-size: 18px;
			margin: 25px 0 20px 0;
			padding: 11px 16px 15px 20px;
			letter-spacing: 0.9px;
			box-shadow: 0 -2px #b2f1be inset;
			@media (max-width: 850px) {
				margin: 20px auto;
			}
		}
		&:last-child {
			margin-bottom: 31px;
		} 
	}
}


.block-author {
	display: flex;
	justify-content: space-between;
	color: $bg-dark-color;
	@media (max-width: 850px) {
		flex-direction: column-reverse;
		text-align: center;
		}
}

.block-ava {
	position: relative;
	@media (max-width: 850px) {
		margin: 0px auto 70px;
		max-width: 350px;
	}
	@media (max-width: 480px) {
		margin: 0px auto 30px;
	}
	@media (max-width: 400px) {
		margin: 0 auto;
	}
	&__svg {
		position: absolute;
		right: -2px;
		top: -15px;
		z-index: -1;
		@media (max-width: 1020px) {
			width: 300px;
			height: 420px;
		}
		@media (max-width: 800px) {
			margin-bottom: 30px;;
		}
		@media (max-width: 480px) {
			display: none;
		}
		&--left {
			right: initial;
			left: 2px;
			top: 10px;
			@media (max-width: 850px) {
				top: initial;
			}
			@media (max-width: 480px) {
				display: none;
			}
		}
	}
	&__img {
		margin-top: 32px;
		margin-right: 42px;
		@media (max-width: 1020px) {
			width: 300px;
		}
		@media (max-width: 480px) {
			margin: 17px auto 0;
		}
		@media (max-width: 400px) {
			width: 265px;
		}
		&--left {
			margin: 59px 0px 0 53px;
			@media (max-width: 850px) {
				margin: 30px 0px 25px 53px;
			}
			@media (max-width: 480px) {
				margin: 0px auto 25px;
			}
			@media (max-width: 400px) {
				margin: 0 auto;
			}
		}
	}	
}

.block-counter {
	display: flex;
	padding-top: 212px;
	justify-content: space-around;
	@media (max-width: 1020px) {
		padding-top: 120px;
	}
	@media (max-width: 750px) {
		flex-direction: column;
		padding-top: 50px;
	}
	@media (max-width: 480px) {
		flex-direction: column;
		padding-top: 50px;
	}
	p {
		flex-basis: 33%;
		font-family: 'Open Sans', serif;
		font-size: 18px;
		text-align: center;
		color: $gray-color;
		letter-spacing: 0.7px;
		@media (max-width: 750px) {
			margin: 40px auto;
		}
		@media (max-width: 480px) {
			margin: 30px auto;
		}
		span {
			font-family: 'Roboto Slab', serif;
			display: block;
			font-weight: 100;
			font-size: 80px;
			color: $accent-color;
			margin-bottom: 44px;
			letter-spacing: 3.25px;
			@media (max-width: 480px) {
				font-size: 70px;
				margin-bottom: 35px;
			}
		}
	}
	p:nth-child(2) {
		padding: 0 28px 0 40px;
	}
}

.block-about {
	display: flex;
	justify-content: space-between;
	margin-top: 82px;
	margin-bottom: 93px;
	padding-left: 2px;
	@media(max-width: 1020px) {
		margin: 82px auto 0px;
		flex-direction: column;
		max-width: 750px;
	}
	@media (max-width: 900px) {
		margin: 50px auto 0px;
		}
	h3 {
		margin-bottom: 20px;
		letter-spacing: 1px;
		}
	&-text {
		flex-basis: calc(100% - 690px);
		@media(max-width: 1020px) {
			flex-basis: 100%;
		}
		@media (max-width: 750px) {
			text-align: center;
			}
		&__desc{
			font-family: 'Open Sans', serif;
			letter-spacing: 0.75px;
		}
	}
	&-table {
		flex-basis: 580px;
		@media(max-width: 1020px) {
			flex-basis: 100%;
			margin-top: 40px;
		}
		h3 {
			padding-left: 6px;
			@media (max-width: 750px) {
				padding: 0;
				text-align: center;
				}
		}
		&__list{
			margin: 25px 0 0 0;
			padding: 0;
			counter-reset: list;
			-moz-column-count: 2;
			     column-count: 2;
			-moz-column-gap: 23px;
				 column-gap: 23px;
			@media (max-width: 750px) {
				padding: 0 40px;
				column-gap: 23px;
				}
			@media(max-width: 630px) {
				-moz-column-count: 1;
				     column-count: 1;
			}
			@media(max-width: 480px) {
				padding: 0;
			}
			
			&>li {
				font-family: 'Open Sans', serif;
				position: relative;
				list-style-type: none;
				counter-increment: list;
				padding-left: 41px;
				margin-bottom: 8px;
				letter-spacing: 0.75px;
				&::before {
					 content: counter(list) ". ";
				}
				&::after {
					content: "+"; 
					position: absolute;
					background-color: #5fc9b3;
					color: $light-color;
					font-family: 'Open Sans', serif;
					font-size: 15px;
					top: calc(50% - 10px);
					left: 6px;
					line-height: 15px;
					padding: 3px 7px;
				}
			}
		}
		&__list_next {
			counter-reset: list 10;
			position: relative;
			&::before {
				content: " ";
				width: 100%;
				height: 2px;
				top: -12px;
				position: absolute;
				background-color: #5fc9b3;
				display: block;
			}
		}
		&__btn {
			background: linear-gradient(to top left,#65e49c, #65a4af);
			border: none;
			color: $light-color;
			text-decoration: none;
			border-radius: 3px;
			text-align: center;
			font-size: 18px;
			padding: 13px 45px 17px 45px;
			letter-spacing: 0.7px;
			margin: 28px 0px 0px 9px;
			box-shadow: 0 -2px #b2f1be inset;
			@media (max-width: 750px) {
				display: block;
				margin: 30px auto 9px;
				text-align: center;
				}
			&:focus {
				outline: none;
			}
			
		}
	}
	&-social {
		display: flex;
		align-items: center;
		margin-top: 29px;
		padding-left: 3px;
		@media (max-width: 750px) {
			display: block;
			margin: 30px auto 0px;
			padding: 0;
			text-align: center;
			}
		&__title {
			font-family: "Roboto Slab", serif;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.9px;
		}
		&__list {
			list-style-type: none;
			padding-left: 25px;
			@media (max-width: 750px) {
				padding: 0;
				margin: 15px auto;
				}
			&>li {
				display: inline-block;
				font-size: 18px;
				vertical-align: middle;
				margin-right: 12px;
				@media (max-width: 750px) {
					margin-left: 12px;
					}
				&>a {
					color: $accent-color;
					&>i {
						@media (max-width: 750px) {
							font-size: 50px;
							}
					}

				}
			}
		}
	}
}

.block-product {
	display: flex;
	justify-content: space-around;
	margin: 54px 0 84px 0;
	@media (max-width: 1020px) {
		flex-direction: column;
	}
	@media (max-width: 900px) {
		margin: 30px 0 70px 0;
	}
	&-item {
		margin: 30px 0 0 0;
		&:nth-child(2) {
			flex-basis: 32%;
		}
	}
	&-demo {
		background-image: url(../img/svg/booksmall.svg);
		width: 270px;
		height: 410px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		margin: 0 auto;
		position: relative;
		&__title {
			color: $light-color;
			text-transform: uppercase;
			text-align: center;
			font-size: 24px;
			letter-spacing: 1px;
			font-weight: 700;
			position: absolute;
			top: 69px;
  			left: 71px;;
			span {
				color: $accent-color;
				margin-top: 8px;
				text-transform: initial;
				display: block;
				font-size: 12px;
				letter-spacing: 0.6px;
				font-weight: 400;
				font-family: "Open Sans";
			}
		}
		&__author {
			color: $accent-color;
			text-transform: initial;
			display: block;
			font-size: 12px;
			letter-spacing: 0.6px;
			font-weight: 400;
			font-family: "Open Sans",sans-serif;
			position: absolute;
			bottom: 29px;
			left: 82px;
		}
	}
	&-text {
		max-width: 325px;
		text-align: center;
		margin: 33px auto 0;
		h3 {
			font-size: 24px;
			letter-spacing: 1.2px;
			color: $bg-dark-color;
			font-weight: 700;
			text-align: center;
		}
		p {
			font-size: 15px;
			letter-spacing: 0.75px;
			color: $gray-color;
			font-weight: 400;
			text-align: center;
			font-family: "Open Sans",sans-serif;
			margin: 17px auto 17px;
		}
		a {
			text-decoration: none;
			color: $accent-color;
			text-transform: uppercase;
			font-family: "Open Sans",sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			&:hover {
				border-bottom: 2px solid $accent-color;
			}
		}
	}
}

.block-blog {
	display: flex;
	justify-content: space-between;
	margin-top: 84px;
	@media (max-width: 900px) {
		flex-direction: column;
		margin: 40px auto 0;
		max-width: 750px;
	}
	&+ .page__btn {
		display: block;
		margin: 84px auto 0;
		padding: 13px 33px;
		max-width: 200px;
		@media (max-width: 900px) {
			margin: 0 auto;
		}
	}
	&-item {
		flex-basis: 32%;
		@media (max-width: 900px) {
			margin-bottom: 50px;
		}
		@media (max-width: 750px) {
			margin-bottom: 40px;
		}
		@media (max-width: 600px) {
			margin-bottom: 30px;
		}
		h4 {
			font-size: 18px;
			letter-spacing: 1px;
			color: $bg-dark-color;
			font-weight: 700;
			font-family: "Roboto Slab";
			margin-bottom: 3px;
		}
	}
	&-info {
		font-size: 15px;
		display: flex;
		margin-bottom: 12px;
		flex-wrap: wrap;
		a {
			color: $accent-color;
			text-decoration: none;
			letter-spacing: 1px;
		}
	}
	&-img {
		width: 100%;
		height: 224px;
		margin: 0 auto 16px;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 224px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) ;
			-o-object-fit: cover;
			   object-fit: cover;
		}
	}

	&__desc {
		font-size: 15px;
		letter-spacing: 0.75px;
		color: $gray-color;
		font-weight: 400;
		font-family: "Open Sans",sans-serif;
	}
}
.block-letter {
	display: flex;
	justify-content: space-between;
	@media (max-width: 1020px) {
		flex-direction: column;
		text-align: center; 
	}
	&-item {
		flex-basis: 48.6%;
		@media (max-width: 1020px) {
			margin-bottom: 40px;
		}
		&:last-child {
			@media (max-width: 850px) {
				margin-bottom: 0;
			}
		}
		
	}
	&__title {
		font-size: 48px;
		color: $bg-dark-color;
		margin-bottom: 25px;
		letter-spacing: 2px;
		font-weight: 700;
		margin-top: 8px;
		@media (max-width: 650px) {
			line-height: 1.1;
			}
		@media (max-width: 400px) {
			font-size: 40px;
			}
	}
	&__text {
		font-family: "Open Sans",sans-serif;
		font-size: 15px;
		letter-spacing: 0.75px;
		color: $gray-color;
		font-weight: 400;
		padding-left: 5px;
		@media (max-width: 850px) {
			max-width: 700px;
			margin: 0 auto;
			padding: 0;
		}
	}
	&__input {
		width: 100%;
		background-color: $bg-dark-color;
		border: none;
		color: $gray;
		padding: 16px 27px;
		box-sizing: border-box;
		border-radius: 3px ;
		letter-spacing: 0.6px;
		font-family: "Open Sans",sans-serif;
		@media (max-width: 1020px) {
			display: block;
			text-align: center;
			margin: 0 auto;
			max-width: 500px;
		}
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: $gray;
			font-family: "Open Sans",sans-serif;
			letter-spacing: 0.75px;
		}
		&::-moz-placeholder {
			color: $gray;
			font-family: "Open Sans",sans-serif;
			letter-spacing: 0.75px;
		}
		&:-ms-input-placeholder {
			color: $gray;
			font-family: "Open Sans",sans-serif;
			letter-spacing: 0.75px;
		}
		&::-ms-input-placeholder {
			color: $gray;
			font-family: "Open Sans",sans-serif;
			letter-spacing: 0.75px;
		}
		&::placeholder {
			color: $gray;
			font-family: "Open Sans",sans-serif;
			letter-spacing: 0.75px;
		}
	}
	&__btn {
		display: block;
		width: 100%;
		font-size: 18px;
		padding: 11px 0px 15px 0px;
		border: none;
		border-radius: 3px ;
		color: $light-color;
		background: linear-gradient(to top left,#65e49c, #65a4af);
		text-align: center;
		text-decoration: none; 
		margin: 21px auto 0px;
		letter-spacing: 0.7px;
		box-shadow: 0 -2px #b2f1be inset;
		@media (max-width: 1020px) {
			margin: 21px auto 0px;
			max-width: 500px;
		}
		&:focus {
			outline: none;
		}
	}
}

.footer {
	background-color: $bg-dark-color;
	color: $gray;
	padding: 158px 0 155px;
	font-family: "Open Sans",sans-serif;
	@media (max-width: 1020px) {
		padding: 120px 0;
	}
	@media (max-width: 850px) {
		padding: 100px 0;
	}
	@media (max-width: 600px) {
		padding: 60px 0;
	}
}

.block-footer {
	display: flex;
	justify-content: space-between;
	@media (max-width: 600px) {
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
	}
	&-item-1 {
		flex-basis: 34.1% ;
	}
	&-item-2 {
		flex-basis: 25.4%;
	}
	&-item-3 {
		flex-basis: 23.1%;
	}

	&__logo {
		display: block;
		background-image: url(../img/logo-2.png);
		background-repeat: no-repeat;
		width: 137px;
		height: 28px;
		margin-bottom: 28px;
		@media (max-width: 600px) {
			margin: 0 auto 28px;
			text-align: center;
		}
	}
	&__desc {
		letter-spacing: 0.6px;
		margin-bottom: 24px;
		@media (max-width: 600px) {
			max-width: 300px;
			margin: 0 auto 24px;
		}
	}
	&__copy {
		letter-spacing: 0.6px;
	}
	&__title {
		font-size: 18px;
		letter-spacing: 0.5px;
		color: $accent-color;
		font-weight: 700;
		font-family: 'Roboto Slab', serif;
		text-transform: uppercase;
		margin-bottom: 18px;
		margin-top: 11px;
	}
	&__list {
		list-style-type: none;
		padding-left: 0;
		line-height: 1.9;
		letter-spacing: 0.6px;
		&__contacts {
			line-height: 1.65;
		}
	}
	&__social {
		display: flex;
		list-style-type: none; 
		margin-top: 13px;
		@media (max-width: 600px) {
			margin: 13px auto 0;
			text-align: center;
			font-size: 30px;
			justify-content: center;
		}
		&>li {
			margin-right: 13px;
			@media (max-width: 600px) {
				margin: 10px 8px 0;
			}
			&>a {
				color: $accent-color;
				height: 20px;
				width: 20px;
			}
		}
	}
}

.block-carousel {
	text-align: center;
	
	h3 {
		color: $accent-color;
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	&-thumb {
		display: block; 
		margin: 0 auto 27px;
		position: relative;
		overflow: hidden;
		text-align: center;
		width: 150px;
		height: 150px;
		border-radius: 100%;
		img {
			margin: 0 auto;
			width: 150px;
			height: 150px;
			-o-object-fit: cover;
			   object-fit: cover;
		}
	}
	&__desc {
		font-family: "Open Sans",sans-serif;
		max-width: 760px;
		line-height: 27px;
		letter-spacing: 0.75px;
		text-align: center;
		margin: 0 auto;
		color: $gray;
	}
	&__expert {
		letter-spacing: 0.75px;
		margin-bottom: 31px;
		color: $gray;
	}
	&-ava {
		position: relative;
		width: 150px;
		height: 150px;
		display: block; 
		margin: 40px auto 27px;
		@media (max-width: 1200px) {
			margin: 0px auto 27px;
		}
	}
	&-bq {
		width: 49px;
		height: 42px;
		top: -4px;
		right: -19px;
		position: absolute;
		background-repeat: no-repeat;
		display: block;
		background-image: url(../img/qoutes.png);
		@media (max-width: 1200px) {
			top: 3px;
			background-size: 70% 70%;
		}
	}
}

/*Стили для слайдера*/

.slick-dots {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 36px;
	&>li {
		margin: 0 5px;
		&>button {
			text-indent: -9999px;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: $accent-color;
			border: none;
			line-height: 0;
			font-size: 0;
			cursor: pointer;
			padding: 5px;
			&:focus {
				outline: none;
			}
		}
	}
	&>li.slick-active {
		&>button {
			width: 37px;
			border-radius: 10px;
			&:focus {
				outline: none;
			}
		}
	}
}
.slick-initialized .slick-slide, .slick-list, .slick-track {
	&:focus {
		outline: none;
	}
}

