@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e496;
$gray-color: #696980;

h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto Slab', serif;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

.page-main {
	background-image: url(../img/bg-main.png);
	background-repeat: no-repeat;
	background-size: cover;
	color:$light-color;
}

.page {
	padding-top: 175px;
	margin-bottom: 165px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 47px;
	padding-bottom: 180px;

	&__logo {
		display: block;
		background-image: url(../img/Logo.png);
		width: 137px;
		height: 28px;
	}

	&-list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		font-family: 'Open Sans', serif;
		
		&__item {
			margin-left: 22px;
			padding-top: 7px;
			padding-bottom: 6px;
			border-bottom: 3px solid transparent;
			transition: 0.3s;

			&:hover {
				border-bottom: 3px solid $accent-color;
			};
		}

		&__item.active { 
			border-bottom: 3px solid $accent-color;
		}

		&__link {
			color:$light-color;
			text-decoration: none;
			letter-spacing: 0.5px;
		}
	}
}

.block-book {
	display: flex;
	justify-content:  flex-start;
	padding-bottom: 157px;

	&-demo {
		display: block;
		width: 447px;
		height: 643px;
		background-image: url(../img/book.svg);
		background-repeat: no-repeat;
		flex-basis: 500px;
		border-radius: 7px;
	}
}

.block-text {
	flex-basis: calc(93% - 500px);
	margin-left: 54px;

	&__name {
		font-family: 'Open Sans', serif;
		font-size: 18px;
		padding-left: 4.4px;
		letter-spacing: 0.8px;
		margin-bottom: 28px;
	}

	&__name-top {
		padding-left: 2px;
		color: $gray-color;
		margin-bottom: 21px;
	}


	&__title {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.5px;
		margin-bottom: 41px;

	span {
		display: block;
		color:$accent-color;
		font-size: 18px;
		margin-top: 11px;
		padding-left: 3px;
		letter-spacing: 1.0px;
	}
}

	&__description {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		line-height: 24.3px;
		letter-spacing: 0.75px;
		margin-bottom: 24px;
	}

	&__btn {
		display: block;
		background-color: $accent-color;
		color: $light-color;
		text-decoration: none;
		max-width: 250px;
		height: 35px;
		border-radius: 3px;
		text-align: center;
		font-size: 18px;
		vertical-align: middle;
		margin-top: 47px;
		margin-bottom: 20px;
		padding-top: 13px;
		letter-spacing: 0.9px;
	}

	small {
		font-style: italic;
		letter-spacing: -0.2px;
		margin-left: -1px;
	}
}


.block-author {
	display: flex;
	justify-content: space-between;

}

.block-ava {
	position: relative;
	&__svg {
		position: absolute;
		right: 0;
		top: -17px;
		z-index: -1;
	}

	&__img {
		margin-top: 32px;
		margin-right: 43px;
	}
}

.block-counter {
	display: flex;
	margin-top: 85px;
	padding-top: 95px;
	justify-content: space-around;

	p {
		flex-basis: 110%;
		font-family: 'Open Sans', serif;
		font-size: 18px;
		text-align: center;
		color: $gray-color;
		letter-spacing: 0.7px;
		span {
			font-family: 'Roboto Slab', serif;
			display: block;
			font-weight: 100;
			font-size: 80px;
			color: $accent-color;
			margin-bottom: 13px;
		}
	}
}

.page-gray {
	background-color: #f5f6fa;
	
}

.block-about {
	color: $accent-color;
}