<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700&display=swap&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div class="page-main">
            <header>
                <div class="header">
                    <a href="img/logo.png" class="header__logo"> </a>
                    <ul class="header-list">
                        <li class="header-list__item active "><a href="#" class="header-list__link">Home</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">About</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">Contents</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">Books</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">Education</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">Skills</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">Portfolio</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">Clients</a></li>
                        <li class="header-list__item"><a href="#" class="header-list__link">Contact</a></li>
                    </ul>
                </div>
            </header>
            <div class="wrap">
                <!--Блок с книгой и описанием -->
                <div class="block-book">
                    <div class="block-book-demo">
                        <h2 class="block-book-demo__title">Good Book
                            <span>Don’t judge a book by its cover</span>
                        </h2>
                        <p class="block-book-demo__author">- By Emma Anderson</p>
                    </div>
                    <!-- <div class="block-book-avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 445 639" width="445" height="639">
                            <style>
                                tspan { white-space:pre }
                                .shp0 { fill: #44444f } 
                                .shp1 { fill: #65e496 } 
                                .shp2 { fill: #3d3d47 } 
                            </style>
                            <g id="book">
                                <path id="book" class="shp0" d="M5 0L439.97 0C442.73 0 444.97 2.24 444.97 5L444.97 634C444.97 636.76 442.73 639 439.97 639L5 639C2.24 639 0 636.76 0 634L0 5C0 2.24 2.24 0 5 0Z" />
                                <path id="Rectangle 10 copy" class="shp1" d="M376.05 536.05L541.47 370.66C553.48 358.65 572.95 358.65 584.96 370.66C596.96 382.66 596.96 402.13 584.96 414.13L419.54 579.53C407.53 591.53 388.06 591.53 376.05 579.53C364.04 567.52 364.04 548.05 376.05 536.05Z" />
                                <path id="Rectangle 10 copy 2" class="shp1" d="M295.26 490.23L460.68 324.84C472.69 312.83 492.15 312.83 504.16 324.84C516.17 336.85 516.17 356.31 504.16 368.32L338.74 533.71C326.74 545.72 307.27 545.72 295.26 533.71C283.25 521.7 283.25 502.24 295.26 490.23Z" />
                                <path id="Rectangle 9" class="shp2" d="M0 0L62.72 0L62.72 639L0 639L0 0Z" />
                            </g>
                        </svg>
                    </div> -->
                    <div class="block-text">
                        <p class="block-text__name">- By Emma Anderson</p>
                        <h1 class="block-text__title">BUKEE: THE BOOK <span>A room without books is like a body without a soul</span></h1>
                        <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quos fugiat maxime, voluptate facilis odio velit tempora expedita saepe! Sapiente voluptatibus modi, sunt temporibus vero. Cum qui repellat earum maxime.</p>
                        <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi accusantium distinctio itaque quam rerum ducimus dolorem! Vero voluptas ipsam, nobis.</p>
                        <a href="" class="block-text__btn">Buy this book - $15.00  </a>
                        <small>* Some conditions may applicable</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="wrap">
                <div class="block-author">
                    <div class="block-text">
                        <p class="block-text__name block-text__name_top">- Book Author</p>
                        <h1 class="block-text__title">Emma Anderson<span>a room without books is like a body without a soul</span></h1>
                        <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quos fugiat maxime, voluptate facilis odio velit tempora expedita saepe! Sapiente voluptatibus modi, sunt temporibus vero. Cum qui repellat earum maxime.</p>
                        <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi accusantium distinctio itaque quam rerum ducimus dolorem! Vero voluptas ipsam, nobism.</p>
                        <a href="" class="block-text__btn">Read full biography </a>
                    </div>
                    <div class="block-author-avatar">
                        <div class="block-ava">
                            <svg width="435" height="558" class="block-ava__svg">
                                <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="602.4192" y1="713.7097" x2="-55.6452" y2="55.6452">
                                    <stop  offset="0" style="stop-color: #446a87"/>
                                    <stop  offset="1" style="stop-color: #59c2ae"/>
                                </linearGradient>
    
                                <rect width="435" height="558" x="0" y="0" fill="url(#gradient)"></rect>
                            </svg>
                            <img src="../img/avatar1.jpg" alt="" class="block-ava__img">
                        </div>
                    </div>
                </div>
                <div class="block-counter">
                    <p><span>12</span>Total published books</p>
                    <p><span>5</span> Best selling books</p>
                    <p><span>15,000</span>Happy readers</p>
                </div>
            </div>
        </div>
        <div class="page page_gray">
            <div class="wrap">
                <h2 class="page__title">Book Contents</h2>
                <p class="page__subtitle">Let's see what we have covered in the book</p>
                <div class="block-about">
                    <div class="block-about-text">
                        <h3>About the book</h3>
                        <p class="block-about-text__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
                        <div class="block-about-social">
                            <p class="block-about-social__title">Featured in:</p>
                            <ul class="block-about-social__list">
                                <li><a href=""><i class="fab fa-stack-overflow"></i></a></li>
                                <li><a href=""><i class="fab fa-amazon"></i></a></li>
                                <li><a href=""><i class="fab fa-sass"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-about-table">
                        <h3>Table of contants</h3>
                        <ol class="block-about-table__list">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                            <li>Consectetur adipisicing elit</li>
                            <li>Labore et dolore magna</li>
                        </ol>
                        <button class="block-about-table__btn">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_product">
            <div class="wrap">
                <h2 class="page__title">Other Books</h2>
                <p class="page__subtitle">Some books you might be interested in</p>
                <div class="block-product">
                    <div class="block-product-item">
                        <div class="block-product-demo">
                            <h2 class="block-product-demo__title">
                                Inception
                                <span>Books are the best friends</span>
                            </h2>
                            <p class="block-product-demo__author">- By Emma Anderson</p>
                        </div>
                        <div class="block-product-text">
                            <h3>Inception</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="block-product-item">
                    <div class="block-product-demo">
                        <h2 class="block-product-demo__title">
                            Fight Club
                            <span>Books are the best friends</span>
                        </h2>
                        <p class="block-product-demo__author">- By Emma Anderson</p>
                    </div>
                    <div class="block-product-text">
                        <h3>Fight Club</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <a href="#">Read More</a>
                    </div>
                    </div>
                    <div class="block-product-item">
                        <div class="block-product-demo">
                            <h2 class="block-product-demo__title">
                                Daredevils
                                <span>Books are the best friends</span>
                            </h2>
                            <p class="block-product-demo__author">- By Emma Anderson</p>
                        </div>
                        <div class="block-product-text">
                            <h3>Daredevils</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="page__btn">Browse all books</a>
            </div>
        </div>
        <!-- <script src="js/main.js"></script>
        <script src="js/vendor.js"></script> -->
    </body>
</html>
