<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700&display=swap&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div class="page-main">
        <header>
            <div class="header">
                <a href="img/logo.png" class="header__logo"> </a>
                <ul class="header-list">
                    <li class="header-list__item">Home</li>
                    <li class="header-list__item">About</li>
                    <li class="header-list__item">Contents</li>
                    <li class="header-list__item">Books</li>
                    <li class="header-list__item">Education</li>
                    <li class="header-list__item">Skills</li>
                    <li class="header-list__item">Portfolio</li>
                    <li class="header-list__item">Clients</li>
                    <li class="header-list__item">Contact</li>
                </ul>
            </div>
        </header>
        <div class="wrap">
            <--Блок с книгой и описанием -->
            <div class="block-book">
                <div class="block-book-avatar"> </div>
                <div class="block-text">
                    <p class="block-text__name">- By Emma Anderson</p>
                    <h1 class="block-text__title">BUKEE: THE BOOK <span>a room without books is like a body without a soul</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quos fugiat maxime, voluptate facilis odio velit tempora expedita saepe! Sapiente voluptatibus modi, sunt temporibus vero. Cum qui repellat earum maxime.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi accusantium distinctio itaque quam rerum ducimus dolorem! Vero voluptas ipsam, nobis.</p>
                    <a href="" class="block-text__btn">Buy this book - $15.00  </a>
                    <small>* Some conditions may applicable</small>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="wrap">
            <div class="block-author">
                <div class="block-text">
                    <p class="block-text__name">- Book Author</p>
                    <h1 class="block-text__title">Emma Anderson<span>a room without books is like a body without a soul</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quos fugiat maxime, voluptate facilis odio velit tempora expedita saepe! Sapiente voluptatibus modi, sunt temporibus vero. Cum qui repellat earum maxime.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi accusantium distinctio itaque quam rerum ducimus dolorem! Vero voluptas ipsam, nobism.</p>
                    <a href="" class="block-text__btn">Read full biography </a>
                </div>
                <div class="block-author-avatar"> </div>
            </div>
            <div class="block-counter">
                <p><span>12</span>Total published books</p>
                <p><span>5</span> Best selling books</p>
                <p><span>15,000</span>Happy readers</p>
            </div>
        </div>
    </div>
    <div class="page page_gray">
        <div class="wrap">
            <h2 class="page__title">Book Contents</h2>
            <p class="page__subtitle">let's see what we have covered in the book</p>
            <div class="block-about">
                <div>
                    <h3>About the book</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
                    <div>
                        <p>Featured in:</p>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>Table of contants</h3>
                    <ol>
                        <li>1. Lorem ipsum dolor sit amet</li>
                        <li>2. Consectetur adipisicing elit</li>
                        <li>3. Labore et dolore magna</li>
                        <li>4. Consectetur adipisicing elit</li>
                        <li>5. Labore et dolore magna</li>
                        <li>6. Lorem ipsum dolor sit amet</li>
                        <li>7. Consectetur adipisicing elit</li>
                        <li>8. Labore et dolore magna</li>
                        <li>9. Consectetur adipisicing elit</li>
                        <li>10. Labore et dolore magna</li>
                    </ol>
                    <button>More</button>
                </div>
            </div>
        </div>
    </div>
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
